:root {
  /* TAILWIND */
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
  --stone-50: #fafaf9;
  --stone-100: #f5f5f4;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-500: #78716c;
  --stone-600: #57534e;
  --stone-700: #44403c;
  --stone-800: #292524;
  --stone-900: #1c1917;
  --stone-950: #0c0a09;
  --colors-red-50: #fef2f2;
  --colors-red-100: #fee2e2;
  --colors-red-200: #fecaca;
  --colors-red-300: #fca5a5;
  --colors-red-400: #f87171;
  --colors-red-500: #ef4444;
  --colors-red-600: #dc2626;
  --colors-red-700: #b91c1c;
  --colors-red-800: #991b1b;
  --colors-red-900: #7f1d1d;
  --colors-red-950: #450a0a;
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-950: #431407;
  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;
  --amber-950: #451a03;
  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --yellow-950: #422006;
  --lime-50: #f7fee7;
  --lime-100: #ecfccb;
  --lime-200: #d9f99d;
  --lime-300: #bef264;
  --lime-400: #a3e635;
  --lime-500: #84cc16;
  --lime-600: #65a30d;
  --lime-700: #4d7c0f;
  --lime-800: #3f6212;
  --lime-900: #365314;
  --lime-950: #1a2e05;
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;
  --emerald-50: #ecfdf5;
  --emerald-100: #d1fae5;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;
  --emerald-950: #022c22;
  --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;
  --teal-950: #042f2e;
  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --cyan-950: #083344;
  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
  --sky-950: #082f49;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-950: #1e1b4b;
  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
  --violet-950: #2e1065;
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --purple-950: #3b0764;
  --fuchsia-50: #fdf4ff;
  --fuchsia-100: #fae8ff;
  --fuchsia-200: #f5d0fe;
  --fuchsia-300: #f0abfc;
  --fuchsia-400: #e879f9;
  --fuchsia-500: #d946ef;
  --fuchsia-600: #c026d3;
  --fuchsia-700: #a21caf;
  --fuchsia-800: #86198f;
  --fuchsia-900: #701a75;
  --fuchsia-950: #4a044e;
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #be185d;
  --pink-800: #9d174d;
  --pink-900: #831843;
  --pink-950: #500724;
  --rose-50: #fff1f2;
  --rose-100: #ffe4e6;
  --rose-200: #fecdd3;
  --rose-300: #fda4af;
  --rose-400: #fb7185;
  --rose-500: #f43f5e;
  --rose-600: #e11d48;
  --rose-700: #be123c;
  --rose-800: #9f1239;
  --rose-900: #881337;
  --rose-950: #4c0519;
  --white: #fcfcfc;
  --black: #030303;

  /* DIMENSIONS */
  --borderradius-rounded-full: 9999px;
  --borderradius-rounded-full-rem: 624.9375rem;
  --borderradius-rounded-4xl: 32px;
  --borderradius-rounded-4xl-rem: 2rem;
  --spacing-3-5: 14px;
  --spacing-3-5-rem: 0.875rem;
  --borderradius-rounded-3xl: 24px;
  --borderradius-rounded-3xl-rem: 1.5rem;
  --borderradius-rounded-2xl: 16px;
  --borderradius-rounded-2xl-rem: 1rem;
  --borderradius-rounded-xl: 12px;
  --borderradius-rounded-xl-rem: 0.75rem;
  --borderradius-rounded-lg: 8px;
  --borderradius-rounded-lg-rem: 0.5rem;
  --borderradius-rounded-md: 6px;
  --borderradius-rounded-md-rem: 0.375rem;
  --borderradius-rounded-none: 0px;
  --borderradius-rounded-none-rem: 0rem;
  --screens-2xl: 1536px;
  --screens-2xl-rem: 96rem;
  --screens-xl: 1280px;
  --screens-xl-rem: 80rem;
  --screens-md: 768px;
  --screens-md-rem: 48rem;
  --screens-sm: 640px;
  --screens-sm-rem: 40rem;
  --sizing-168: 672px;
  --sizing-168-rem: 42rem;
  --borderradius-rounded-sm: 2px;
  --borderradius-rounded-sm-rem: 0.125rem;
  --sizing-144: 576px;
  --sizing-144-rem: 36rem;
  --spacing-2-5: 10px;
  --spacing-2-5-rem: 0.625rem;
  --sizing-64: 256px;
  --sizing-64-rem: 16rem;
  --sizing-48: 192px;
  --sizing-48-rem: 12rem;
  --sizing-36: 144px;
  --sizing-36-rem: 9rem;
  --sizing-32: 128px;
  --sizing-32-rem: 8rem;
  --sizing-28: 112px;
  --sizing-28-rem: 7rem;
  --sizing-20: 80px;
  --sizing-20-rem: 5rem;
  --sizing-72: 288px;
  --sizing-72-rem: 18rem;
  --sizing-12: 48px;
  --sizing-12-rem: 3rem;
  --sizing-11: 44px;
  --sizing-11-rem: 2.75rem;
  --sizing-0-5: 2px;
  --sizing-0-5-rem: 0.125rem;
  --spacing-1-5: 6px;
  --spacing-1-5-rem: 0.375rem;
  --sizing-6: 24px;
  --sizing-6-rem: 1.5rem;
  --sizing-3-5: 14px;
  --sizing-3-5-rem: 0.875rem;
  --sizing-56: 224px;
  --sizing-56-rem: 14rem;
  --sizing-px: 1px;
  --sizing-px-rem: 0.0625rem;
  --sizing-8: 32px;
  --sizing-8-rem: 2rem;
  --sizing-3: 12px;
  --sizing-3-rem: 0.75rem;
  --sizing-2: 8px;
  --sizing-2-rem: 0.5rem;
  --borderradius-rounded-default: 4px;
  --borderradius-rounded-default-rem: 0.25rem;
  --sizing-96: 384px;
  --sizing-96-rem: 24rem;
  --sizing-1-5: 6px;
  --sizing-1-5-rem: 0.375rem;
  --sizing-40: 160px;
  --sizing-40-rem: 10rem;
  --sizing-5: 20px;
  --sizing-5-rem: 1.25rem;
  --screens-lg: 1024px;
  --screens-lg-rem: 64rem;
  --sizing-4: 16px;
  --sizing-4-rem: 1rem;
  --sizing-0: 0px;
  --sizing-0-rem: 0rem;
  --spacing-10: 40px;
  --spacing-10-rem: 2.5rem;
  --sizing-2-5: 10px;
  --sizing-2-5-rem: 0.625rem;
  --spacing-80: 320px;
  --spacing-80-rem: 20rem;
  --sizing-16: 64px;
  --sizing-16-rem: 4rem;
  --spacing-72: 288px;
  --spacing-72-rem: 18rem;
  --spacing-60: 240px;
  --spacing-60-rem: 15rem;
  --spacing-56: 224px;
  --spacing-56-rem: 14rem;
  --spacing-48: 192px;
  --spacing-48-rem: 12rem;
  --spacing-2: 8px;
  --spacing-2-rem: 0.5rem;
  --spacing-64: 256px;
  --spacing-64-rem: 16rem;
  --spacing-96: 384px;
  --spacing-96-rem: 24rem;
  --spacing-8: 32px;
  --spacing-8-rem: 2rem;
  --spacing-16: 64px;
  --spacing-16-rem: 4rem;
  --spacing-40: 160px;
  --spacing-40-rem: 10rem;
  --spacing-32: 128px;
  --spacing-32-rem: 8rem;
  --spacing-28: 112px;
  --spacing-28-rem: 7rem;
  --spacing-0-5: 2px;
  --spacing-0-5-rem: 0.125rem;
  --spacing-24: 96px;
  --spacing-24-rem: 6rem;
  --sizing-7: 28px;
  --sizing-7-rem: 1.75rem;
  --spacing-20: 80px;
  --spacing-20-rem: 5rem;
  --sizing-80: 320px;
  --sizing-80-rem: 20rem;
  --spacing-px: 1px;
  --spacing-px-rem: 0.0625rem;
  --sizing-10: 40px;
  --sizing-10-rem: 2.5rem;
  --sizing-9: 36px;
  --sizing-9-rem: 2.25rem;
  --spacing-44: 176px;
  --spacing-44-rem: 11rem;
  --spacing-3: 12px;
  --spacing-3-rem: 0.75rem;
  --spacing-6: 24px;
  --spacing-6-rem: 1.5rem;
  --spacing-12: 48px;
  --spacing-12-rem: 3rem;
  --spacing-9: 36px;
  --spacing-9-rem: 2.25rem;
  --sizing-60: 240px;
  --sizing-60-rem: 15rem;
  --spacing-11: 44px;
  --spacing-11-rem: 2.75rem;
  --sizing-44: 176px;
  --sizing-44-rem: 11rem;
  --spacing-5: 20px;
  --spacing-5-rem: 1.25rem;
  --spacing-7: 28px;
  --spacing-7-rem: 1.75rem;
  --sizing-112: 448px;
  --sizing-112-rem: 28rem;
  --spacing-52: 208px;
  --spacing-52-rem: 13rem;
  --sizing-1: 4px;
  --sizing-1-rem: 0.25rem;
  --spacing-14: 56px;
  --spacing-14-rem: 3.5rem;
  --sizing-24: 96px;
  --sizing-24-rem: 6rem;
  --spacing-1: 4px;
  --spacing-1-rem: 0.25rem;
  --sizing-52: 208px;
  --sizing-52-rem: 13rem;
  --sizing-14: 56px;
  --sizing-14-rem: 3.5rem;
  --spacing-4: 16px;
  --spacing-4-rem: 1rem;
  --sizing-128: 512px;
  --sizing-128-rem: 32rem;
  --spacing-36: 144px;
  --spacing-36-rem: 9rem;
  --spacing-0: 0px;
  --spacing-0-rem: 0rem;
  --borderwidth-none: 0px;
  --borderwidth-none-rem: 0rem;
  --borderwidth-width-1: 1px;
  --borderwidth-width-1-rem: 0.0625rem;
  --borderwidth-width-2: 2px;
  --borderwidth-width-2-rem: 0.125rem;
  --borderwidth-width-3: 3px;
  --borderwidth-width-3-rem: 0.1875rem;
  --borderwidth-width-4: 4px;
  --borderwidth-width-4-rem: 0.25rem;
  --borderwidth-width-1-5: 1.5px;
  --borderwidth-width-1-5-rem: 0.0938rem;
  --borderwidth-width-6: 6px;
  --borderwidth-width-6-rem: 0.375rem;

  /* BRAND */
  --primary-bg-subtle: var(--blue-50);
  --primary-bg: var(--blue-100);
  --primary-bg-hover: var(--blue-300);
  --primary-bg-active: var(--blue-400);
  --primary-line: var(--blue-500);
  --primary-border: var(--blue-500);
  --primary-border-hover: var(--blue-600);
  --primary-solid: var(--blue-500);
  --primary-solid-hover: var(--blue-500);
  --primary-text: var(--blue-600);
  --primary-on-primary: var(--white);
  --primary-border-strong: var(--blue-700);
  --secondary-on-secondary: var(--white);
  --secondary-text: var(--fuchsia-600);
  --secondary-solid-hover: var(--fuchsia-500);
  --secondary-solid: var(--fuchsia-400);
  --secondary-border-hover: var(--fuchsia-400);
  --secondary-border: var(--fuchsia-300);
  --secondary-line: var(--fuchsia-500);
  --secondary-bg-active: var(--fuchsia-400);
  --secondary-bg-hover: var(--fuchsia-300);
  --secondary-bg: var(--fuchsia-100);
  --secondary-bg-subtle: var(--fuchsia-50);
  --bg-default-bg: var(--white);
  --bg-base: var(--neutral-50);
  --bg-bg-subtle: var(--slate-50);
  --bg-bg: var(--slate-100);
  --bg-bg-hover: var(--slate-200);
  --bg-bg-active: var(--slate-300);
  --bg-bg-solid: var(--slate-800);
  --fg-default-fg: var(--neutral-600);
  --fg-line: var(--neutral-300);
  --fg-border: var(--neutral-300);
  --fg-border-hover: var(--neutral-400);
  --fg-solid: var(--neutral-400);
  --fg-solid-hover: var(--neutral-400);
  --fg-text: var(--neutral-700);
  --fg-text-contrast: var(--neutral-800);
  --fg-invisible: rgba(0 0 0 / 0);
  --fg-button-transparent: rgba(255 255 255 / 0.01);
  --disabled-disabled: var(--gray-300);
  --disabled-on-disabled: var(--gray-400);
  --success-bg-subtle: var(--green-50);
  --success-bg: var(--green-100);
  --success-bg-hover: var(--green-300);
  --success-bg-active: var(--green-400);
  --success-line: var(--green-500);
  --success-border: var(--green-300);
  --success-border-hover: var(--green-400);
  --success-solid: var(--green-500);
  --success-solid-hover: var(--green-600);
  --success-text: var(--green-700);
  --success-on-success: var(--white);
  --overlays-dark-100: rgba(0 0 0 / 0.01);
  --overlays-dark-200: rgba(0 0 0 / 0.03);
  --overlays-dark-300: rgba(0 0 0 / 0.05);
  --overlays-dark-400: rgba(0 0 0 / 0.07);
  --overlays-dark-500: rgba(0 0 0 / 0.09);
  --overlays-dark-600: rgba(0 0 0 / 0.11);
  --overlays-dark-700: rgba(0 0 0 / 0.14);
  --overlays-dark-800: rgba(0 0 0 / 0.22);
  --overlays-dark-900: rgba(0 0 0 / 0.44);
  --overlays-dark-1000: rgba(0 0 0 / 0.48);
  --overlays-dark-1100: rgba(0 0 0 / 0.56);
  --overlays-dark-1200: rgba(0 0 0 / 0.91);
  --overlays-light-100: rgba(255 255 255 / 0);
  --overlays-light-200: rgba(255 255 255 / 0.01);
  --overlays-light-300: rgba(255 255 255 / 0.04);
  --overlays-light-400: rgba(255 255 255 / 0.05);
  --overlays-light-500: rgba(255 255 255 / 0.09);
  --overlays-light-600: rgba(255 255 255 / 0.13);
  --overlays-light-700: rgba(255 255 255 / 0.18);
  --overlays-light-800: rgba(255 255 255 / 0.25);
  --overlays-light-900: rgba(255 255 255 / 0.38);
  --overlays-light-1000: rgba(255 255 255 / 0.45);
  --overlays-light-1100: rgba(255 255 255 / 0.59);
  --overlays-light-1200: rgba(255 255 255 / 0.92);
  --data-default-fees: var(--gray-300);
  --data-default-personal: var(--pink-300);
  --data-default-software: var(--fuchsia-300);
  --data-default-health: var(--purple-300);
  --data-default-entertainment: var(--blue-300);
  --data-default-auto: var(--cyan-300);
  --data-default-food: var(--emerald-300);
  --data-default-george: var(--lime-300);
  --data-default-home: var(--yellow-300);
  --data-default-utilites: var(--orange-300);
  --data-default-mortgage: var(--colors-red-300);
  --fg-text-inverse-hover: var(--neutral-100);
  --warning-bg-subtle: var(--orange-50);
  --warning-bg: var(--orange-200);
  --warning-bg-hover: var(--orange-300);
  --warning-bg-active: var(--orange-400);
  --warning-line: var(--orange-500);
  --warning-border: var(--orange-400);
  --warning-border-hover: var(--orange-400);
  --warning-solid: var(--orange-400);
  --warning-solid-hover: var(--orange-500);
  --warning-text: var(--orange-500);
  --warning-on-warning: var(--white);
  --error-bg-subtle: var(--colors-red-50);
  --error-bg: var(--colors-red-100);
  --error-bg-hover: var(--colors-red-300);
  --error-bg-active: var(--colors-red-400);
  --error-line: var(--colors-red-500);
  --error-border: var(--colors-red-300);
  --error-border-hover: var(--colors-red-400);
  --error-solid: var(--colors-red-500);
  --error-solid-hover: var(--colors-red-600);
  --error-text: var(--colors-red-500);
  --error-on-warning: var(--white);
  --data-active-fees: var(--gray-400);
  --data-active-personal: var(--pink-400);
  --data-active-software: var(--fuchsia-400);
  --data-active-health: var(--purple-400);
  --data-active-entertainment: var(--blue-400);
  --data-active-auto: var(--cyan-400);
  --data-active-food: var(--emerald-400);
  --data-active-george: var(--lime-400);
  --data-active-home: var(--yellow-400);
  --data-active-utilites: var(--orange-400);
  --data-active-mortgage: var(--colors-red-400);
  --fg-text-inverse: var(--white);
  --fg-border-strong: var(--neutral-600);
}