:root {
  /* TYPE */
  --text-xs-black-family: "Figtree";
  --text-xs-black-size: 12px;
  --text-xs-black-size-rem: 0.75rem;
  --text-xs-black-weight: 900;
  --text-xs-black-style: normal;
  --text-xs-bold-family: "Figtree";
  --text-xs-bold-size: 12px;
  --text-xs-bold-size-rem: 0.75rem;
  --text-xs-bold-weight: 700;
  --text-xs-bold-style: normal;
  --text-xs-extra-bold-family: "Figtree";
  --text-xs-extra-bold-size: 12px;
  --text-xs-extra-bold-size-rem: 0.75rem;
  --text-xs-extra-bold-weight: 800;
  --text-xs-extra-bold-style: normal;
  --text-xs-extra-light-family: "Figtree";
  --text-xs-extra-light-size: 12px;
  --text-xs-extra-light-size-rem: 0.75rem;
  --text-xs-extra-light-weight: 500;
  --text-xs-extra-light-style: italic;
  --text-xs-light-family: "Figtree";
  --text-xs-light-size: 12px;
  --text-xs-light-size-rem: 0.75rem;
  --text-xs-light-style: italic;
  --text-xs-medium-family: "Figtree";
  --text-xs-medium-size: 12px;
  --text-xs-medium-size-rem: 0.75rem;
  --text-xs-medium-weight: 500;
  --text-xs-medium-style: normal;
  --text-xs-regular-family: "Figtree";
  --text-xs-regular-size: 12px;
  --text-xs-regular-size-rem: 0.75rem;
  --text-xs-regular-weight: 400;
  --text-xs-regular-style: normal;
  --text-xs-semi-bold-family: "Figtree";
  --text-xs-semi-bold-size: 12px;
  --text-xs-semi-bold-size-rem: 0.75rem;
  --text-xs-semi-bold-weight: 600;
  --text-xs-semi-bold-style: normal;
  --text-xs-thin-family: "Figtree";
  --text-xs-thin-size: 12px;
  --text-xs-thin-size-rem: 0.75rem;
  --text-xs-thin-weight: 900;
  --text-xs-thin-style: normal;
  --text-sm-black-family: "Figtree";
  --text-sm-black-size: 14px;
  --text-sm-black-size-rem: 0.875rem;
  --text-sm-black-weight: 900;
  --text-sm-black-style: normal;
  --text-sm-bold-family: "Figtree";
  --text-sm-bold-size: 14px;
  --text-sm-bold-size-rem: 0.875rem;
  --text-sm-bold-weight: 700;
  --text-sm-bold-style: normal;
  --text-sm-extra-bold-family: "Figtree";
  --text-sm-extra-bold-size: 14px;
  --text-sm-extra-bold-size-rem: 0.875rem;
  --text-sm-extra-bold-weight: 800;
  --text-sm-extra-bold-style: normal;
  --text-sm-extra-light-family: "Figtree";
  --text-sm-extra-light-size: 14px;
  --text-sm-extra-light-size-rem: 0.875rem;
  --text-sm-extra-light-weight: 500;
  --text-sm-extra-light-style: italic;
  --text-sm-light-family: "Figtree";
  --text-sm-light-size: 14px;
  --text-sm-light-size-rem: 0.875rem;
  --text-sm-light-style: italic;
  --text-sm-medium-family: "Figtree";
  --text-sm-medium-size: 14px;
  --text-sm-medium-size-rem: 0.875rem;
  --text-sm-medium-weight: 500;
  --text-sm-medium-style: normal;
  --text-sm-regular-family: "Figtree";
  --text-sm-regular-size: 14px;
  --text-sm-regular-size-rem: 0.875rem;
  --text-sm-regular-weight: 400;
  --text-sm-regular-style: normal;
  --text-sm-semi-bold-family: "Figtree";
  --text-sm-semi-bold-size: 14px;
  --text-sm-semi-bold-size-rem: 0.875rem;
  --text-sm-semi-bold-weight: 600;
  --text-sm-semi-bold-style: normal;
  --text-sm-thin-family: "Figtree";
  --text-sm-thin-size: 14px;
  --text-sm-thin-size-rem: 0.875rem;
  --text-sm-thin-weight: 900;
  --text-sm-thin-style: normal;
  --text-base-black-family: "Figtree";
  --text-base-black-size: 16px;
  --text-base-black-size-rem: 1rem;
  --text-base-black-weight: 900;
  --text-base-black-style: normal;
  --text-base-bold-family: "Figtree";
  --text-base-bold-size: 16px;
  --text-base-bold-size-rem: 1rem;
  --text-base-bold-weight: 700;
  --text-base-bold-style: normal;
  --text-base-extra-bold-family: "Figtree";
  --text-base-extra-bold-size: 16px;
  --text-base-extra-bold-size-rem: 1rem;
  --text-base-extra-bold-weight: 800;
  --text-base-extra-bold-style: normal;
  --text-base-extra-light-family: "Figtree";
  --text-base-extra-light-size: 16px;
  --text-base-extra-light-size-rem: 1rem;
  --text-base-extra-light-weight: 500;
  --text-base-extra-light-style: italic;
  --text-base-light-family: "Figtree";
  --text-base-light-size: 16px;
  --text-base-light-size-rem: 1rem;
  --text-base-light-style: italic;
  --text-base-medium-family: "Figtree";
  --text-base-medium-size: 16px;
  --text-base-medium-size-rem: 1rem;
  --text-base-medium-weight: 500;
  --text-base-medium-style: normal;
  --text-base-regular-family: "Figtree";
  --text-base-regular-size: 16px;
  --text-base-regular-size-rem: 1rem;
  --text-base-regular-weight: 400;
  --text-base-regular-style: normal;
  --text-base-semi-bold-family: "Figtree";
  --text-base-semi-bold-size: 16px;
  --text-base-semi-bold-size-rem: 1rem;
  --text-base-semi-bold-weight: 600;
  --text-base-semi-bold-style: normal;
  --text-base-thin-family: "Figtree";
  --text-base-thin-size: 16px;
  --text-base-thin-size-rem: 1rem;
  --text-base-thin-weight: 900;
  --text-base-thin-style: normal;
  --text-lg-black-family: "Figtree";
  --text-lg-black-size: 18px;
  --text-lg-black-size-rem: 1.125rem;
  --text-lg-black-weight: 900;
  --text-lg-black-style: normal;
  --text-lg-bold-family: "Figtree";
  --text-lg-bold-size: 18px;
  --text-lg-bold-size-rem: 1.125rem;
  --text-lg-bold-weight: 700;
  --text-lg-bold-style: normal;
  --text-lg-extra-bold-family: "Figtree";
  --text-lg-extra-bold-size: 18px;
  --text-lg-extra-bold-size-rem: 1.125rem;
  --text-lg-extra-bold-weight: 800;
  --text-lg-extra-bold-style: normal;
  --text-lg-extra-light-family: "Figtree";
  --text-lg-extra-light-size: 18px;
  --text-lg-extra-light-size-rem: 1.125rem;
  --text-lg-extra-light-weight: 500;
  --text-lg-extra-light-style: italic;
  --text-lg-light-family: "Figtree";
  --text-lg-light-size: 18px;
  --text-lg-light-size-rem: 1.125rem;
  --text-lg-light-style: italic;
  --text-lg-medium-family: "Figtree";
  --text-lg-medium-size: 18px;
  --text-lg-medium-size-rem: 1.125rem;
  --text-lg-medium-weight: 500;
  --text-lg-medium-style: normal;
  --text-lg-regular-family: "Figtree";
  --text-lg-regular-size: 18px;
  --text-lg-regular-size-rem: 1.125rem;
  --text-lg-regular-weight: 400;
  --text-lg-regular-style: normal;
  --text-lg-semi-bold-family: "Figtree";
  --text-lg-semi-bold-size: 18px;
  --text-lg-semi-bold-size-rem: 1.125rem;
  --text-lg-semi-bold-weight: 600;
  --text-lg-semi-bold-style: normal;
  --text-lg-thin-family: "Figtree";
  --text-lg-thin-size: 18px;
  --text-lg-thin-size-rem: 1.125rem;
  --text-lg-thin-weight: 900;
  --text-lg-thin-style: normal;
  --text-xl-black-family: "Figtree";
  --text-xl-black-size: 20px;
  --text-xl-black-size-rem: 1.25rem;
  --text-xl-black-weight: 900;
  --text-xl-black-style: normal;
  --text-xl-bold-family: "Figtree";
  --text-xl-bold-size: 20px;
  --text-xl-bold-size-rem: 1.25rem;
  --text-xl-bold-weight: 700;
  --text-xl-bold-style: normal;
  --text-xl-extra-bold-family: "Figtree";
  --text-xl-extra-bold-size: 20px;
  --text-xl-extra-bold-size-rem: 1.25rem;
  --text-xl-extra-bold-weight: 800;
  --text-xl-extra-bold-style: normal;
  --text-xl-extra-light-family: "Figtree";
  --text-xl-extra-light-size: 20px;
  --text-xl-extra-light-size-rem: 1.25rem;
  --text-xl-extra-light-weight: 500;
  --text-xl-extra-light-style: italic;
  --text-xl-light-family: "Figtree";
  --text-xl-light-size: 20px;
  --text-xl-light-size-rem: 1.25rem;
  --text-xl-light-style: italic;
  --text-xl-medium-family: "Figtree";
  --text-xl-medium-size: 20px;
  --text-xl-medium-size-rem: 1.25rem;
  --text-xl-medium-weight: 500;
  --text-xl-medium-style: normal;
  --text-xl-regular-family: "Figtree";
  --text-xl-regular-size: 20px;
  --text-xl-regular-size-rem: 1.25rem;
  --text-xl-regular-weight: 400;
  --text-xl-regular-style: normal;
  --text-xl-semi-bold-family: "Figtree";
  --text-xl-semi-bold-size: 20px;
  --text-xl-semi-bold-size-rem: 1.25rem;
  --text-xl-semi-bold-weight: 600;
  --text-xl-semi-bold-style: normal;
  --text-xl-thin-family: "Figtree";
  --text-xl-thin-size: 20px;
  --text-xl-thin-size-rem: 1.25rem;
  --text-xl-thin-weight: 900;
  --text-xl-thin-style: normal;
  --text-2xl-black-family: "Figtree";
  --text-2xl-black-size: 24px;
  --text-2xl-black-size-rem: 1.5rem;
  --text-2xl-black-weight: 900;
  --text-2xl-black-style: normal;
  --text-2xl-bold-family: "Figtree";
  --text-2xl-bold-size: 24px;
  --text-2xl-bold-size-rem: 1.5rem;
  --text-2xl-bold-weight: 700;
  --text-2xl-bold-style: normal;
  --text-2xl-extra-bold-family: "Figtree";
  --text-2xl-extra-bold-size: 24px;
  --text-2xl-extra-bold-size-rem: 1.5rem;
  --text-2xl-extra-bold-weight: 800;
  --text-2xl-extra-bold-style: normal;
  --text-2xl-extra-light-family: "Figtree";
  --text-2xl-extra-light-size: 24px;
  --text-2xl-extra-light-size-rem: 1.5rem;
  --text-2xl-extra-light-weight: 500;
  --text-2xl-extra-light-style: italic;
  --text-2xl-light-family: "Figtree";
  --text-2xl-light-size: 24px;
  --text-2xl-light-size-rem: 1.5rem;
  --text-2xl-light-style: italic;
  --text-2xl-medium-family: "Figtree";
  --text-2xl-medium-size: 24px;
  --text-2xl-medium-size-rem: 1.5rem;
  --text-2xl-medium-weight: 500;
  --text-2xl-medium-style: normal;
  --text-2xl-regular-family: "Figtree";
  --text-2xl-regular-size: 24px;
  --text-2xl-regular-size-rem: 1.5rem;
  --text-2xl-regular-weight: 400;
  --text-2xl-regular-style: normal;
  --text-2xl-semi-bold-family: "Figtree";
  --text-2xl-semi-bold-size: 24px;
  --text-2xl-semi-bold-size-rem: 1.5rem;
  --text-2xl-semi-bold-weight: 600;
  --text-2xl-semi-bold-style: normal;
  --text-2xl-thin-family: "Figtree";
  --text-2xl-thin-size: 24px;
  --text-2xl-thin-size-rem: 1.5rem;
  --text-2xl-thin-weight: 900;
  --text-2xl-thin-style: normal;
  --text-3xl-black-family: "Figtree";
  --text-3xl-black-size: 30px;
  --text-3xl-black-size-rem: 1.875rem;
  --text-3xl-black-weight: 900;
  --text-3xl-black-style: normal;
  --text-3xl-bold-family: "Figtree";
  --text-3xl-bold-size: 30px;
  --text-3xl-bold-size-rem: 1.875rem;
  --text-3xl-bold-weight: 700;
  --text-3xl-bold-style: normal;
  --text-3xl-extra-bold-family: "Figtree";
  --text-3xl-extra-bold-size: 30px;
  --text-3xl-extra-bold-size-rem: 1.875rem;
  --text-3xl-extra-bold-weight: 800;
  --text-3xl-extra-bold-style: normal;
  --text-3xl-extra-light-family: "Figtree";
  --text-3xl-extra-light-size: 30px;
  --text-3xl-extra-light-size-rem: 1.875rem;
  --text-3xl-extra-light-weight: 500;
  --text-3xl-extra-light-style: italic;
  --text-3xl-light-family: "Figtree";
  --text-3xl-light-size: 30px;
  --text-3xl-light-size-rem: 1.875rem;
  --text-3xl-light-style: italic;
  --text-3xl-medium-family: "Figtree";
  --text-3xl-medium-size: 30px;
  --text-3xl-medium-size-rem: 1.875rem;
  --text-3xl-medium-weight: 500;
  --text-3xl-medium-style: normal;
  --text-3xl-regular-family: "Figtree";
  --text-3xl-regular-size: 30px;
  --text-3xl-regular-size-rem: 1.875rem;
  --text-3xl-regular-weight: 400;
  --text-3xl-regular-style: normal;
  --text-3xl-semi-bold-family: "Figtree";
  --text-3xl-semi-bold-size: 30px;
  --text-3xl-semi-bold-size-rem: 1.875rem;
  --text-3xl-semi-bold-weight: 600;
  --text-3xl-semi-bold-style: normal;
  --text-3xl-thin-family: "Figtree";
  --text-3xl-thin-size: 30px;
  --text-3xl-thin-size-rem: 1.875rem;
  --text-3xl-thin-weight: 900;
  --text-3xl-thin-style: normal;
  --text-4xl-black-family: "Figtree";
  --text-4xl-black-size: 36px;
  --text-4xl-black-size-rem: 2.25rem;
  --text-4xl-black-weight: 900;
  --text-4xl-black-style: normal;
  --text-4xl-bold-family: "Figtree";
  --text-4xl-bold-size: 36px;
  --text-4xl-bold-size-rem: 2.25rem;
  --text-4xl-bold-weight: 700;
  --text-4xl-bold-style: normal;
  --text-4xl-extra-bold-family: "Figtree";
  --text-4xl-extra-bold-size: 36px;
  --text-4xl-extra-bold-size-rem: 2.25rem;
  --text-4xl-extra-bold-weight: 800;
  --text-4xl-extra-bold-style: normal;
  --text-4xl-extra-light-family: "Figtree";
  --text-4xl-extra-light-size: 36px;
  --text-4xl-extra-light-size-rem: 2.25rem;
  --text-4xl-extra-light-weight: 500;
  --text-4xl-extra-light-style: italic;
  --text-4xl-light-family: "Figtree";
  --text-4xl-light-size: 36px;
  --text-4xl-light-size-rem: 2.25rem;
  --text-4xl-light-style: italic;
  --text-4xl-medium-family: "Figtree";
  --text-4xl-medium-size: 36px;
  --text-4xl-medium-size-rem: 2.25rem;
  --text-4xl-medium-weight: 500;
  --text-4xl-medium-style: normal;
  --text-4xl-regular-family: "Figtree";
  --text-4xl-regular-size: 36px;
  --text-4xl-regular-size-rem: 2.25rem;
  --text-4xl-regular-weight: 400;
  --text-4xl-regular-style: normal;
  --text-4xl-semi-bold-family: "Figtree";
  --text-4xl-semi-bold-size: 36px;
  --text-4xl-semi-bold-size-rem: 2.25rem;
  --text-4xl-semi-bold-weight: 600;
  --text-4xl-semi-bold-style: normal;
  --text-4xl-thin-family: "Figtree";
  --text-4xl-thin-size: 36px;
  --text-4xl-thin-size-rem: 2.25rem;
  --text-4xl-thin-weight: 900;
  --text-4xl-thin-style: normal;
  --text-5xl-black-family: "Figtree";
  --text-5xl-black-size: 48px;
  --text-5xl-black-size-rem: 3rem;
  --text-5xl-black-weight: 900;
  --text-5xl-black-style: normal;
  --text-5xl-bold-family: "Figtree";
  --text-5xl-bold-size: 48px;
  --text-5xl-bold-size-rem: 3rem;
  --text-5xl-bold-weight: 700;
  --text-5xl-bold-style: normal;
  --text-5xl-extra-bold-family: "Figtree";
  --text-5xl-extra-bold-size: 48px;
  --text-5xl-extra-bold-size-rem: 3rem;
  --text-5xl-extra-bold-weight: 800;
  --text-5xl-extra-bold-style: normal;
  --text-5xl-extra-light-family: "Figtree";
  --text-5xl-extra-light-size: 48px;
  --text-5xl-extra-light-size-rem: 3rem;
  --text-5xl-extra-light-weight: 500;
  --text-5xl-extra-light-style: italic;
  --text-5xl-light-family: "Figtree";
  --text-5xl-light-size: 48px;
  --text-5xl-light-size-rem: 3rem;
  --text-5xl-light-style: italic;
  --text-5xl-medium-family: "Figtree";
  --text-5xl-medium-size: 48px;
  --text-5xl-medium-size-rem: 3rem;
  --text-5xl-medium-weight: 500;
  --text-5xl-medium-style: normal;
  --text-5xl-regular-family: "Figtree";
  --text-5xl-regular-size: 48px;
  --text-5xl-regular-size-rem: 3rem;
  --text-5xl-regular-weight: 400;
  --text-5xl-regular-style: normal;
  --text-5xl-semi-bold-family: "Figtree";
  --text-5xl-semi-bold-size: 48px;
  --text-5xl-semi-bold-size-rem: 3rem;
  --text-5xl-semi-bold-weight: 600;
  --text-5xl-semi-bold-style: normal;
  --text-5xl-thin-family: "Figtree";
  --text-5xl-thin-size: 48px;
  --text-5xl-thin-size-rem: 3rem;
  --text-5xl-thin-weight: 900;
  --text-5xl-thin-style: normal;
  --text-6xl-black-family: "Figtree";
  --text-6xl-black-size: 60px;
  --text-6xl-black-size-rem: 3.75rem;
  --text-6xl-black-weight: 900;
  --text-6xl-black-style: normal;
  --text-6xl-bold-family: "Figtree";
  --text-6xl-bold-size: 60px;
  --text-6xl-bold-size-rem: 3.75rem;
  --text-6xl-bold-weight: 700;
  --text-6xl-bold-style: normal;
  --text-6xl-extra-bold-family: "Figtree";
  --text-6xl-extra-bold-size: 60px;
  --text-6xl-extra-bold-size-rem: 3.75rem;
  --text-6xl-extra-bold-weight: 800;
  --text-6xl-extra-bold-style: normal;
  --text-6xl-extra-light-family: "Figtree";
  --text-6xl-extra-light-size: 60px;
  --text-6xl-extra-light-size-rem: 3.75rem;
  --text-6xl-extra-light-weight: 500;
  --text-6xl-extra-light-style: italic;
  --text-6xl-light-family: "Figtree";
  --text-6xl-light-size: 60px;
  --text-6xl-light-size-rem: 3.75rem;
  --text-6xl-light-style: italic;
  --text-6xl-medium-family: "Figtree";
  --text-6xl-medium-size: 60px;
  --text-6xl-medium-size-rem: 3.75rem;
  --text-6xl-medium-weight: 500;
  --text-6xl-medium-style: normal;
  --text-6xl-regular-family: "Figtree";
  --text-6xl-regular-size: 60px;
  --text-6xl-regular-size-rem: 3.75rem;
  --text-6xl-regular-weight: 400;
  --text-6xl-regular-style: normal;
  --text-6xl-semi-bold-family: "Figtree";
  --text-6xl-semi-bold-size: 60px;
  --text-6xl-semi-bold-size-rem: 3.75rem;
  --text-6xl-semi-bold-weight: 600;
  --text-6xl-semi-bold-style: normal;
  --text-6xl-thin-family: "Figtree";
  --text-6xl-thin-size: 60px;
  --text-6xl-thin-size-rem: 3.75rem;
  --text-6xl-thin-weight: 900;
  --text-6xl-thin-style: normal;
  --text-7xl-black-family: "Figtree";
  --text-7xl-black-size: 72px;
  --text-7xl-black-size-rem: 4.5rem;
  --text-7xl-black-weight: 900;
  --text-7xl-black-style: normal;
  --text-7xl-bold-family: "Figtree";
  --text-7xl-bold-size: 72px;
  --text-7xl-bold-size-rem: 4.5rem;
  --text-7xl-bold-weight: 700;
  --text-7xl-bold-style: normal;
  --text-7xl-extra-bold-family: "Figtree";
  --text-7xl-extra-bold-size: 72px;
  --text-7xl-extra-bold-size-rem: 4.5rem;
  --text-7xl-extra-bold-weight: 800;
  --text-7xl-extra-bold-style: normal;
  --text-7xl-extra-light-family: "Figtree";
  --text-7xl-extra-light-size: 72px;
  --text-7xl-extra-light-size-rem: 4.5rem;
  --text-7xl-extra-light-weight: 500;
  --text-7xl-extra-light-style: italic;
  --text-7xl-light-family: "Figtree";
  --text-7xl-light-size: 72px;
  --text-7xl-light-size-rem: 4.5rem;
  --text-7xl-light-style: italic;
  --text-7xl-medium-family: "Figtree";
  --text-7xl-medium-size: 72px;
  --text-7xl-medium-size-rem: 4.5rem;
  --text-7xl-medium-weight: 500;
  --text-7xl-medium-style: normal;
  --text-7xl-regular-family: "Figtree";
  --text-7xl-regular-size: 72px;
  --text-7xl-regular-size-rem: 4.5rem;
  --text-7xl-regular-weight: 400;
  --text-7xl-regular-style: normal;
  --text-7xl-semi-bold-family: "Figtree";
  --text-7xl-semi-bold-size: 72px;
  --text-7xl-semi-bold-size-rem: 4.5rem;
  --text-7xl-semi-bold-weight: 600;
  --text-7xl-semi-bold-style: normal;
  --text-7xl-thin-family: "Figtree";
  --text-7xl-thin-size: 72px;
  --text-7xl-thin-size-rem: 4.5rem;
  --text-7xl-thin-weight: 900;
  --text-7xl-thin-style: normal;
  --text-8xl-black-family: "Figtree";
  --text-8xl-black-size: 96px;
  --text-8xl-black-size-rem: 6rem;
  --text-8xl-black-weight: 900;
  --text-8xl-black-style: normal;
  --text-8xl-bold-family: "Figtree";
  --text-8xl-bold-size: 96px;
  --text-8xl-bold-size-rem: 6rem;
  --text-8xl-bold-weight: 700;
  --text-8xl-bold-style: normal;
  --text-8xl-extra-bold-family: "Figtree";
  --text-8xl-extra-bold-size: 96px;
  --text-8xl-extra-bold-size-rem: 6rem;
  --text-8xl-extra-bold-weight: 800;
  --text-8xl-extra-bold-style: normal;
  --text-8xl-extra-light-family: "Figtree";
  --text-8xl-extra-light-size: 96px;
  --text-8xl-extra-light-size-rem: 6rem;
  --text-8xl-extra-light-weight: 500;
  --text-8xl-extra-light-style: italic;
  --text-8xl-light-family: "Figtree";
  --text-8xl-light-size: 96px;
  --text-8xl-light-size-rem: 6rem;
  --text-8xl-light-style: italic;
  --text-8xl-medium-family: "Figtree";
  --text-8xl-medium-size: 96px;
  --text-8xl-medium-size-rem: 6rem;
  --text-8xl-medium-weight: 500;
  --text-8xl-medium-style: normal;
  --text-8xl-regular-family: "Figtree";
  --text-8xl-regular-size: 96px;
  --text-8xl-regular-size-rem: 6rem;
  --text-8xl-regular-weight: 400;
  --text-8xl-regular-style: normal;
  --text-8xl-semi-bold-family: "Figtree";
  --text-8xl-semi-bold-size: 96px;
  --text-8xl-semi-bold-size-rem: 6rem;
  --text-8xl-semi-bold-weight: 600;
  --text-8xl-semi-bold-style: normal;
  --text-8xl-thin-family: "Figtree";
  --text-8xl-thin-size: 96px;
  --text-8xl-thin-size-rem: 6rem;
  --text-8xl-thin-weight: 900;
  --text-8xl-thin-style: normal;
  --text-9xl-black-family: "Figtree";
  --text-9xl-black-size: 128px;
  --text-9xl-black-size-rem: 8rem;
  --text-9xl-black-weight: 900;
  --text-9xl-black-style: normal;
  --text-9xl-bold-family: "Figtree";
  --text-9xl-bold-size: 128px;
  --text-9xl-bold-size-rem: 8rem;
  --text-9xl-bold-weight: 700;
  --text-9xl-bold-style: normal;
  --text-9xl-extra-bold-family: "Figtree";
  --text-9xl-extra-bold-size: 128px;
  --text-9xl-extra-bold-size-rem: 8rem;
  --text-9xl-extra-bold-weight: 800;
  --text-9xl-extra-bold-style: normal;
  --text-9xl-extra-light-family: "Figtree";
  --text-9xl-extra-light-size: 128px;
  --text-9xl-extra-light-size-rem: 8rem;
  --text-9xl-extra-light-weight: 500;
  --text-9xl-extra-light-style: italic;
  --text-9xl-light-family: "Figtree";
  --text-9xl-light-size: 128px;
  --text-9xl-light-size-rem: 8rem;
  --text-9xl-light-style: italic;
  --text-9xl-medium-family: "Figtree";
  --text-9xl-medium-size: 128px;
  --text-9xl-medium-size-rem: 8rem;
  --text-9xl-medium-weight: 500;
  --text-9xl-medium-style: normal;
  --text-9xl-regular-family: "Figtree";
  --text-9xl-regular-size: 128px;
  --text-9xl-regular-size-rem: 8rem;
  --text-9xl-regular-weight: 400;
  --text-9xl-regular-style: normal;
  --text-9xl-semi-bold-family: "Figtree";
  --text-9xl-semi-bold-size: 128px;
  --text-9xl-semi-bold-size-rem: 8rem;
  --text-9xl-semi-bold-weight: 600;
  --text-9xl-semi-bold-style: normal;
  --text-9xl-thin-family: "Figtree";
  --text-9xl-thin-size: 128px;
  --text-9xl-thin-size-rem: 8rem;
  --text-9xl-thin-weight: 900;
  --text-9xl-thin-style: normal;

  /* GRADIENTS */
  --rainbow-gradient-stop-1-color: #fef08a;
  --rainbow-gradient-stop-1-position: 0%;
  --rainbow-gradient-stop-2-color: #a7f3d0;
  --rainbow-gradient-stop-2-position: 17%;
  --rainbow-gradient-stop-3-color: #a5f3fc;
  --rainbow-gradient-stop-3-position: 33%;
  --rainbow-gradient-stop-4-color: #bfdbfe;
  --rainbow-gradient-stop-4-position: 50%;
  --rainbow-gradient-stop-5-color: #ddd6fe;
  --rainbow-gradient-stop-5-position: 66%;
  --rainbow-gradient-stop-6-color: #f5d0fe;
  --rainbow-gradient-stop-6-position: 83%;
  --rainbow-gradient-stop-7-color: #fbcfe8;
  --rainbow-gradient-stop-7-position: 100%;

  /* SHADOWS */
  --back-shadow: 0 -1px 2px -2px rgba(0 0 0 / 0.1), 0 -2px 4px -1px rgba(0 0 0 / 0.1);
  --box-shadow-shadow-inner: inset 0 2px 4px 0 rgba(0 0 0 / 0.05);
  --box-shadow-shadow-2xl: 0 25px 50px -12px rgba(0 0 0 / 0.25);
  --box-shadow-shadow-xl: 0 8px 10px -6px rgba(0 0 0 / 0.1), 0 20px 25px -5px rgba(0 0 0 / 0.1);
  --box-shadow-shadow-lg: 0 4px 6px -4px rgba(0 0 0 / 0.1), 0 10px 15px -3px rgba(0 0 0 / 0.1);
  --box-shadow-shadow-md: 0 2px 4px -2px rgba(0 0 0 / 0.1), 0 4px 6px -1px rgba(0 0 0 / 0.1);
  --box-shadow-shadow: 0 1px 2px -1px rgba(0 0 0 / 0.1), 0 1px 3px 0 rgba(0 0 0 / 0.1);
  --box-shadow-shadow-sm: 0 1px 2px 0 rgba(0 0 0 / 0.05);
  --drop-shadow-drop-shadow-2xl: 0 25px 25px 0 rgba(0 0 0 / 0.15);
  --drop-shadow-drop-shadow-xl: 0 8px 5px 0 rgba(0 0 0 / 0.08), 0 20px 13px 0 rgba(0 0 0 / 0.03);
  --drop-shadow-drop-shadow-lg: 0 4px 3px 0 rgba(0 0 0 / 0.1), 0 10px 8px 0 rgba(0 0 0 / 0.04);
  --drop-shadow-drop-shadow-md: 0 2px 2px 0 rgba(0 0 0 / 0.06), 0 4px 3px 0 rgba(0 0 0 / 0.07);
  --drop-shadow-drop-shadow: 0 1px 1px 0 rgba(0 0 0 / 0.06), 0 1px 2px 0 rgba(0 0 0 / 0.1);
  --drop-shadow-drop-shadow-sm: 0 1px 1px 0 rgba(0 0 0 / 0.05);

  /* GRIDS */
  --desktop-columns: 12;
  --desktop-gutter: 24px;
  --desktop-gutter-rem: 1.5rem;
}